{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}


   <style>
      .item_icon {
         align-items:center;
         justify-content: center;
      }
      .btn-w-h-250{
         width: 230px;
         height: 230px;
      }
      .dropdown_pulpit{
         width: calc(100% - 20px);
      }
      .font-10-em
      {
         font-size: 10em;
      }

      .btn_span {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         padding-top: 30px!important;
      }
      .btn_span > * {
         display: block;
      }

      .btn-secondary__name {
         font-size: 24px;
         margin-top: 15px;
      }
      .b-1-blue {
         border: 1px solid #039be0!important;
      }

   </style>
{% endblock %}


{% block body %}
   <div class="row">
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
         <div class="card">
            <div class="card-body">
               <div class="d-flex no-block">
                  <div class="round align-self-center round-success d-flex item_icon"><i class="ti-clipboard"></i></div>
                  <div class="m-l-10 align-self-center">
                     <h3 class="m-b-0">{{ params.tasks }}</h3>
                     <h5 class="text-muted m-b-0">{% trans %}Tasks today{% endtrans %}</h5></div>
               </div>
            </div>
         </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
         <div class="card">
            <div class="card-body">
               <div class="d-flex no-block">
                  <div class="round align-self-center round-info d-flex item_icon"><i class="ti-user"></i></div>
                  <div class="m-l-10 align-self-center">
                     <h3 class="m-b-0">{{ params.clients }}</h3>
                     <h5 class="text-muted m-b-0">{% trans %}Clients{% endtrans %}</h5></div>
               </div>
            </div>
         </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
         <div class="card">
            <div class="card-body">
               <div class="d-flex no-block">
                  <div class="round align-self-center round-danger d-flex item_icon"><i class="ti-calendar"></i></div>
                  <div class="m-l-10 align-self-center">
                     <h3 class="m-b-0">{{ params.projects }}</h3>
                     <h5 class="text-muted m-b-0">{% trans %}Projects{% endtrans %}</h5></div>
               </div>
            </div>
         </div>
      </div>
      <!-- Column -->
      <!-- Column -->
      <div class="col-lg-3 col-md-6">
         <div class="card">
            <div class="card-body">
               <div class="d-flex no-block">
                  <div class="round align-self-center round-success d-flex item_icon"><i class="ti-crown"></i></div>
                  <div class="m-l-10 align-self-center">
                     <h3 class="m-b-0">{{ params.users }}</h3>
                     <h5 class="text-muted m-b-0">{% trans %}Users{% endtrans %}</h5></div>
               </div>
            </div>
         </div>
      </div>
      <!-- Column -->
   </div>
   <div class="row p-t-30">
      <div class="col-12">
         <div class="row p-10">
            <div class="btn-group col-6">
               <a class="btn waves-effect waves-light btn-outline-info btn_span" href="{{ path('task_add') }}"  >
                  <i class="font-10-em ti-list"></i>
                  <span class="btn-secondary__name">
                                    {% trans %}Tasks{% endtrans %}
                                </span>
               </a>
            </div>
            <div class="btn-group col-6 ">
               <a class="btn waves-effect waves-light btn-outline-info btn_span" href="{{ path('users_index') }}"  >
                  <i class="font-10-em icon-people"></i>
                  <span class="btn-secondary__name">
                                    {% trans %}Team{% endtrans %}
                                </span>
               </a>
            </div>
         </div>

         <div class="row p-10">
            <div class="btn-group col-6">
               <a class="btn waves-effect waves-light btn-outline-info btn_span" href="{{ path('projects_index') }}"  >
                  <i class="font-10-em ti-folder"></i>
                  <span class="btn-secondary__name">
                                    {% trans %}Projects{% endtrans %}
                                </span>
               </a>
            </div>
            <div class="btn-group col-6 ">
               <a class="btn waves-effect waves-light btn-outline-info btn_span" href="{{ path('clients_index') }}"  >
                  <i class="font-10-em ti-user"></i>
                  <span class="btn-secondary__name">
                                    {% trans %}Clients{% endtrans %}
                                </span>
               </a>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
