 {% extends 'security/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/dist/css/pages/login-register-lock.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <section id="wrapper" class="login-register" style="background-image:url({{ asset('assets/images/background/login-register.jpg') }});">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material text-center" id="loginform" method="POST">
                    <a href="javascript:void(0)" class="db"><img src="{{ asset('assets/images/logo.png') }}" alt="Home" style="max-width:320px;"></a>
                    {% if error %}
                        <div class="alert alert-danger m-t-40">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="form-group m-t-40">
                        <div class="col-xs-12">
                            <input class="form-control form-control-line" type="email" required="" placeholder="Login" value="{{ last_username }}" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control form-control-line" type="password" required="" placeholder="Hasło" name="password">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="d-flex no-block align-items-center">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="_remember_me">
                                    <label class="custom-control-label" for="customCheck1">Zapamiętaj mnie</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-success btn-lg btn-block text-uppercase btn-rounded" type="submit">Zaloguj się</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </section>
{% endblock %}


