<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="IhorShchypakov">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/images/icon/icon3.png') }}">
    <title>{% block title %}{% endblock %}</title>
    <!-- Custom CSS -->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    {% block stylesheets %}{% endblock %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('assets/node_modules/dropify/dist/css/dropify.min.css') }}">
    <link href="{{ asset('assets/dist/css/pages/user-card.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/node_modules/datatables/media/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/chat.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/dist/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/app.css') }}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        @media (min-width: 1024px) {
            .footer, .page-wrapper {
                margin-left: 200px;
            }
        }


        @media (min-width: 768px) {
            .navbar-header {
                width: 200px;
                flex-shrink: 0;
            }
        }

        .left-sidebar {
            width: 200px;
        }

        .sidebar-nav ul li a {
            font-size: 12px;
        }

        .sidebar-nav > ul > li {
            margin-bottom: 0px;
            margin-top: 0px;
        }

        .mini-sidebar .sidebar-nav #sidebarnav > li > a {
            height: 48px;
        }
    </style>
</head>

<body class="skin-default-dark logo-center fixed-layout">
{% block pageloadder %}
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">TeamWork</p>
        </div>
    </div>
{% endblock %}
{% block spinnerwrapp %}
    <div class="spinner-wrapp " style="display: none;">
        <div class="spinner-grow text-info" role="status">
            <span class="sr-only">{% trans %}Wait...{% endtrans %}</span>
        </div>
    </div>
{% endblock %}

<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    {% block header %}
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('dashboard', {'_locale':app.request.get('_locale')}) }}">
                        <b>
                            {#                                <img src="{{ asset('assets/images/t.png') }}"  alt="homepage" class="light-logo" />#}
                            <img src="{{ asset('assets/images/t.png') }}" alt="Home" class="dark-logo"/>
                        </b>
                        <span>
                                <img src="{{ asset('assets/images/logo.png') }}" alt="homepage" class="light-logo"/>
                                <img src="{{ asset('assets/images/logo.png') }}" class="dark-logo" alt="homepage"/>
                            </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <!-- This is  -->
                        <li class="nav-item"><a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark"
                                                href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                        <li class="nav-item"><a
                                    class="nav-link sidebartoggler d-none d-lg-block d-md-block waves-effect waves-dark"
                                    href="javascript:void(0)"><i class="icon-menu"></i></a></li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Comment -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link waves-effect waves-dark" href="{{ path('chat') }}"> <i
                                        class="icon-bubble"></i>
                                <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
                            </a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Comment -->
                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- Messages -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                                        class="icon-note"></i>
                                <div class="notify"><span class="heartbit"></span> <span class="point"></span></div>
                            </a>
                            <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown"
                                 aria-labelledby="2">
                                <ul>
                                    <li>
                                        <div class="drop-title">You have 4 new messages</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"><img
                                                            src="{{ asset('assets/images/users/1.jpg') }}" alt="user"
                                                            class="img-circle"> <span
                                                            class="profile-status online pull-right"></span></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span
                                                            class="mail-desc">Just see the my admin!</span> <span
                                                            class="time">9:30 AM</span></div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"><img
                                                            src="{{ asset('assets/images/users/2.jpg') }}" alt="user"
                                                            class="img-circle"> <span
                                                            class="profile-status busy pull-right"></span></div>
                                                <div class="mail-contnet">
                                                    <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span>
                                                    <span class="time">9:10 AM</span></div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"><img
                                                            src="{{ asset('assets/images/users/3.jpg') }}" alt="user"
                                                            class="img-circle"> <span
                                                            class="profile-status away pull-right"></span></div>
                                                <div class="mail-contnet">
                                                    <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span>
                                                    <span class="time">9:08 AM</span></div>
                                            </a>
                                            <!-- Message -->
                                            <a href="javascript:void(0)">
                                                <div class="user-img"><img
                                                            src="{{ asset('assets/images/users/4.jpg') }}" alt="user"
                                                            class="img-circle"> <span
                                                            class="profile-status offline pull-right"></span></div>
                                                <div class="mail-contnet">
                                                    <h5>Pavan kumar</h5> <span
                                                            class="mail-desc">Just see the my admin!</span> <span
                                                            class="time">9:02 AM</span></div>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="nav-link text-center link" href="javascript:void(0);"> <strong>See all
                                                e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- End Messages -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- User Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown ">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href=""
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="hidden-md-down"><i class="flag-icon flag-icon-{{ app.request.locale }}"
                                                                title="{{ app.request.locale }}"
                                                                id="{{ app.request.locale }}"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                <!-- text-->
                                {% include 'security/_locale_switcher.html.twig' %}
                            </div>
                        </li>

                        <!-- ============================================================== -->
                        <!-- End User Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item right-side-toggle"><a class="nav-link  waves-effect waves-light"
                                                                  href="{{ path('logout') }}"><i
                                        class="ti-power-off"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
    {% endblock %}
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    {% block sidebar %}
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <div class="user-profile">
                    <div class="user-pro-body">
                        <a href="{{ path('user_show', {'userID':app.user.id}, {'_locale':app.request.get('_locale')}) }}">
                            {% if app.user.photo %}
                                <img src="{{ asset('uploads/avatar/'~app.user.name~'/'~app.user.photo) }}" alt="user"
                                     class="img-circle">
                            {% else %}
                                <img src="{{ asset('uploads/avatar/default.jpg') }}" alt="user" class="img-circle">
                            {% endif %}
                        </a>
                        <div class="dropdown">
                            <a href="{{ path('user_show', {'userID':app.user.id}, {'_locale':app.request.get('_locale')}) }}"
                               class=" u-dropdown link hide-menu"
                               role="button">{{ app.user.name }} {{ app.user.surname }} </a>
                        </div>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="waves-effect waves-dark" href="{{ path('dashboard') }}" aria-expanded="false">
                                <i class="icon-home"></i>
                                <span class="hide-menu">
                                           {% trans %}Homepage{% endtrans %}</span></a>
                        </li>

                        <li class="{% block menu_tasks %}{% endblock %}">
                            <a class="waves-effect waves-dark" href="{{ path('task_add') }}" aria-expanded="false">
                                <i class="icon-home"></i>
                                <span class="hide-menu">
                                          {% trans %}Tasks{% endtrans %}</span></a>
                        </li>
                        <li>

                        <li class="{% block menu_projects %}{% endblock %}">
                            <a class="waves-effect waves-dark" href="{{ path('projects_index') }}"
                               aria-expanded="false">
                                <i class="icon-home"></i>
                                <span class="hide-menu">
                                           {% trans %}Projects{% endtrans %}</span></a>
                        </li>
                        <li>

                        <li class="{% block menu_clients %}{% endblock %}">
                            <a href="{{ path('clients_index') }}" class="waves-effect waves-dark" aria-expanded="false">
                                <i class="icon-home"></i>
                                <span class="hide-menu">
                                           {% trans %}Clients{% endtrans %}</span></a>
                        </li>
                        <li>

                        <li class="{% block menu_team %}{% endblock %}">
                            <a href="{{ path('users_index') }}" class="waves-effect waves-dark" aria-expanded="false">
                                <i class="icon-home"></i>
                                <span class="hide-menu">
                                           {% trans %}Team{% endtrans %}</span></a>
                        </li>
                        <li class="{% block menu_chat %}{% endblock %}">
                            <a class="waves-effect waves-dark" href="{{ path('chat') }}" aria-expanded="false">
                                <i class="icon-bubble"></i>
                                <span class="hide-menu">
                                           {% trans %}Chat{% endtrans %}</span></a>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
    {% endblock %}
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    {% block footer %}
        <footer class="footer">
            © 2019 TeamWork
        </footer>
    {% endblock %}
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>

<script src="{{ asset('assets/node_modules/jquery/jquery-3.2.1.min.js') }}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{{ asset('assets/node_modules/popper/popper.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>

<!-- slimscrollbar scrollbar JavaScript -->
<script src="{{ asset('assets/dist/js/perfect-scrollbar.jquery.min.js') }}"></script>
<!--Wave Effects -->
<script src="{{ asset('assets/dist/js/waves.js') }}"></script>
<!--Menu sidebar -->
<script src="{{ asset('assets/dist/js/sidebarmenu.js') }}"></script>
<!--Sweet Alert -->
<script src="{{ asset('assets/node_modules/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/sweetalert/jquery.sweet-alert.custom.js') }}"></script>

<!--stickey kit -->
<script src="{{ asset('assets/node_modules/sticky-kit-master/dist/sticky-kit.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/sparkline/jquery.sparkline.min.js') }}"></script>
<!--Custom JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<!-- DataTables -->
<script src="{{ asset('assets/node_modules/datatables/datatables.min.js') }}"></script>
<script src="{{ asset('assets/node_modules/dropify/dist/js/dropify.min.js') }}"></script>
<script src="{{ asset('assets/dist/js/custom.min.js') }}"></script>
<script>
    {% for flash in app.session.flashBag.get('success') %}
    swal({
        text: "{{ flash }}",
        type: "success",
        timer: 2000,
        showConfirmButton: false
    });
    {% endfor %}

    {% for flash in app.session.flashBag.get('error') %}
    swal({
        text: "{{ flash|raw }}",
        type: "error",
        showCancelButton: true,
        showConfirmButton: false,
        cancelButtonText: 'Anuluj',
    });
    {% endfor %}

    {% for flash in app.session.flashBag.get('delete') %}
    swal({
        title: "Usunięto!",
        text: "{{ flash }}",
        type: "success",
        timer: 2000,
        showConfirmButton: false
    });
    {% endfor %}

</script>
{% block javascripts %}{% endblock %}
</body>
</html>
