{% extends 'base.html.twig' %}

{% block title %}List Users{% endblock %}

{% block menu_team %}active{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    {#    {{ dump() }}#}
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h4 class="text-themecolor">{% trans %}Our Team{% endtrans %}</h4>
        </div>
        <div class="col-md-7 align-self-center text-right">
            <div class="d-flex justify-content-end align-items-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('dashboard', {'_locale':app.request.get('_locale')}) }}">{% trans %}Home{% endtrans %}</a></li>
                    <li class="breadcrumb-item active">{% trans %}Users{% endtrans %}</li>
                </ol>
                <a href="{{ path('user_add', {'_locale':app.request.get('_locale')}) }}" class="btn btn-info d-lg-block m-l-15"><i
                            class="fa fa-plus-circle"></i> Create User</a>
                <a href="#" data-target="#modalChooseMonth" data-toggle="modal"
                   class="btn btn-purple d-lg-block m-l-15"><i class="fa fa-file-pdf"></i>{% trans %}Generate Excel{% endtrans %}</a>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- .row -->
    <div class="row">
        {% for user in users %}
            <div class="col-md-6 col-lg-6 col-xlg-4">
                <div class="card card-body">
                    <div class="row align-items-center">
                        <div class="col-md-4 col-lg-3 text-center">
                            <a href="{{ path('user_show',{'userID':user.id}, {'_locale':app.request.get('_locale')}) }}">
                                {% if user.photo != null %}
                                    <img src="{{ asset('uploads/avatar/'~user.name~'/'~user.photo) }}"
                                         class="img-circle" width="150" height="150">
                                {% else %}
                                    <img src="{{ asset('uploads/avatar/default.jpg') }}" class="img-circle img"
                                         width="150" height="150">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <h3 class="box-title m-b-0">{{ user.name }} {{ user.surname }}</h3>
                            <address>
                                <br/>
                                {% trans %}Role{% endtrans %}:
                                {{ user.role[0] }}
                                <br/>
                                <br/>
                                <div class="el-card-content">
                                    <h3 class="box-title">{{ user.email }}</h3>
                                    <small>
                                        <abbr title="Phone">{% trans %}Phone{% endtrans %}:</abbr> +48{{ user.phone }}</small>
                                    <br/></div>

                            </address>

                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {{ include('users/modals/choose_month.html.twig') }}
{% endblock %}



{% block javascripts %}

    <script>
        $('#choose_month_submit').on('click', function () {
            $('#modalChooseMonth').modal('hide');
        })
    </script>
{% endblock %}
